.connect4cell {
    height: 2em;
}

#connect4table {
    margin-right: auto;
    margin-left: auto;
    width: 21em ;
    table-layout: fixed;
    border-color: black;
}

.player1 {
    background-color: red !important;
    color: red !important;
}

.player2 {
    background-color: yellow !important;
    color: yellow !important;
}
