body {
    user-select: none;
}

#heading {
    color: black;
    text-decoration: none;
}

.connect4cell {
    height: 2em;
}

#connect4table {
    margin-right: auto;
    margin-left: auto;
    width: 21em ;
    table-layout: fixed;
    border-color: black;
}

.player1 {
    background-color: red !important;
    color: red !important;
}

.player2 {
    background-color: yellow !important;
    color: yellow !important;
}

@media (min-width: 1000px) {
    #game-id-container {
        white-space: nowrap;
    }
}

#game-id-display {
    user-select: text;
}

#gamelist {
    height: 30em;
    overflow-y: auto;
}
