body {
    user-select: none;
}

#heading {
    color: black;
    text-decoration: none;
}

.connect4cell {
    position: absolute;
}

.playing-piece {
    --top: 0;
    /*animation: fall calc(0.2s * var(--top)) ease-in;*/
}

@keyframes fall { 
    from {
        top: 0%;
    }
    to {
        top: var(--top)px;
    }
}

#connect4table {
    position: relative;
    z-index: 1;
}

.move-input {
    position: absolute;
    top: calc(0% - 5px);
    z-index: 2;
}

.move-input:hover {
    cursor: pointer;
}

.player1 {
    color: red !important;
    fill: red !important;
}

.player2 {
    color: yellow !important;
    fill: yellow !important;
}

@media (min-width: 1000px) {
    #game-id-container {
        white-space: nowrap;
    }
}

#game-id-display {
    user-select: all;
}

#gamelist {
    height: 30em;
    overflow-y: auto;
}
